<!DOCTYPE html>
<html lang="en">

<head>
    <title>NCAA College Football Tournament</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/epsn.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tournament.css">
    <script src="javascripts/espn.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" href="http://ec2-18-220-201-172.us-east-2.compute.amazonaws.com/CreativeAssignments/creativeassignment5/#"><strong>NCAA Tournament Homepage</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="http://ec2-18-220-201-172.us-east-2.compute.amazonaws.com/CreativeAssignments/creativeassignment5/About.html">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://ec2-18-220-201-172.us-east-2.compute.amazonaws.com/CreativeAssignments/creativeassignment5/displayTournament.html"><span class="glyphicon glyphicon-login"></span> Display Tournament</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="header">
        <h1>NCAA Collge Football Tournament</h1>
    </div>
    <form class="modal-content" action="/action_page.php">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div ng-app="teamApp" ng-controller="teamCtrl">
                        <!-- send in a userNum of where you're at in the tourney -->
                        <h2>{{ teamName }}</h2>
                        <h3>{{ spot }}</h3>
                    </div>
                </div>
                <div class="column">
                    <div ng-app="teamApp" ng-controller="teamCtrl">
                        <!-- send in a userNum of where you're at in the tourney -->
                        <h2>{{ teamName }}</h2>
                        <h3>{{ spot }}</h3>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <!-- send in a userNum of where you're at in the tourney -->
                <button type="submit" class="winner1btn" ng-model="winner">{{ teamName }}</button>
                <!-- send in a userNum of where you're at in the tourney -->
                <button type="submit" class="winner2btn" ng-model="winner">{{ teamName }}</button>
            </div>
        </div>
    </form>

    <div class="footer">
        <p>Nathan Mozer, Jacob © 2018</p>
        <p>Not owned or endorsed by NCAA</p>
    </div>

</body>

</html>
